<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Kimberly Jinxia Lim</title>

	<!-- CSS -->
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="stylesheets/font-awesome.min.css" rel="stylesheet" media="screen">
	<link href="stylesheets/simple-line-icons.min.css" rel="stylesheet" media="screen">
	<link href="stylesheets/animate.css" rel="stylesheet">
    
	<!-- Custom styles CSS -->
	<link href="stylesheets/style.css" rel="stylesheet" media="screen">
    <script src="javascripts/modernizr.custom.js"></script>
       
</head>
<body>

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>

	<!-- Home start -->

	<section id="home" class="pfblock-image screen-height">
        <div class="home-overlay"></div>
		<div class="intro">
			<div class="start">Hi, my name is Kimberly and I'm a</div><br>
			<div class="rw-words rw-words-1">
				<span><h1>Developer</h1></span>
				<span><h1>Student</h1></span>
				<span><h1>Volunteer</h1></span>
			</div>
		</div>

        <a href="#services">
		<div class="scroll-down">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
		</div>
        </a>

	</section>

	<!-- Home end -->

	<!-- Navigation start -->

	<header class="header">
		<nav class="navbar navbar-custom" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#home">Kimberly Lim</a>
				</div>
				<div class="collapse navbar-collapse" id="custom-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#services">Who</a></li>
                        <li><a href="#portfolio">Project</a></li>
                        <li><a href="#skills">Skill</a></li>
						<li><a href="#testimonials">Testimonial</a></li>
						<li><a href="mailto:kimberlyljx@gmail.com">Contact</a></li>
					</ul>
				</div>
			</div><!-- .container -->
		</nav>
	</header>

	<!-- Navigation end -->

    <!-- Services start -->

	<section id="services" class="pfblock pfblock-gray">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">This is what I do</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
							Click on Details to read more about my background in that field.
						</div>
					</div>

				</div>

			</div>

			<div class="row">

				<div class="col-sm-3">

					<div class="iconbox wow slideInLeft">
						<div class="iconbox-icon">
							<span class="icon-magic-wand"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Junior Web Developer</h3>
							<div class="iconbox-desc">
								Recent graduate of Code Division's Bootcamp and now full stack web developer of Ruby on Rails.
								<br><br>
								<button class="btn btn-success" data-toggle="modal" data-target="#myModalDev">Details</button>
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="iconbox wow slideInLeft">
						<div class="iconbox-icon">
							<span class="icon-wrench"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Engineer-in-training</h3>
							<div class="iconbox-desc">
								Carnegie Mellon University Class of '19. Majoring in Electrical & Computer Engineering.<br>
                                GPA: 3.71<br><br>

								<button class="btn btn-info" data-toggle="modal" data-target="#myModalEng">Details</button>
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="iconbox wow slideInRight">
						<div class="iconbox-icon">
							<i class="fa fa-bullhorn"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Social Entrepeneur</h3>
							<div class="iconbox-desc">
								Founder of one -<a href="http://www.themhm.org"> The Mental Health Movement</a>. Read about my extra-curricular activities.<br><br>

								<button class="btn btn-warning" data-toggle="modal" data-target="#myModalSoc">Details</button>
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="iconbox wow slideInRight">
						<div class="iconbox-icon">
							<span class="icon-graduation"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Student</h3>
							<div class="iconbox-desc">
								Ministry of Education Bursary recipient-cum-JPA scholar. Read about my educational background.<br><br>
							
							<button class="btn btn-danger" data-toggle="modal" data-target="#myModalEdu">Details</button>

							</div>
						</div>
					</div>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Services end -->
    
	<!-- Portfolio start -->

	<section id="portfolio" class="pfblock">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">My Past Projects</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
							Collection of websites and projects I've worked or is currently working on. Click on image to see more.
						</div>
					</div>
				</div>
			</div>     
            
            <div class="row">

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="images/item-3.jpg" alt="img01"/><a href="http://feedbaq.me" target="_blank">
                            <figcaption>
                                <h2>Feedbaq.Me</h2>
                                <p><b>Paperless feedback forms. All the info, none of the hassle</b></p>
                            </figcaption></a>		
                        </figure> 
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="images/item-2.jpg" alt="img01"/><a href="http://rebound-me.herokuapp.com" target="_blank">
                            <figcaption>
                                <h2>Rebound.Me</h2>
                                <p><b>3rd Place during MasterCard's Regional SEA Hackathon</b></p>
                            </figcaption></a>			
                        </figure>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                    	<figure class="effect-bubba">
                            <img src="images/item-6.jpg" alt="img01"/><a href="https://www.github.com/kimberlyljx" target="_blank">
                            <figcaption>
                                <h2>My Github</h2>
                                <p><b>See my pet projects and challenges I completed from CodeDivision</b></p>
                            </figcaption></a>		
                        </figure>                        
                    </div>
                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="images/Drawing.png" alt="img01"/><a href="http://feedbaq.me" target="_blank">
                            <figcaption>
                                <h2>Landing Page</h2>
                                <p><b>Landing page for Sanar - a weekend project during Lean Startup Machine</b></p>
                            </figcaption></a>       
                        </figure> 
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="images/bravegame2.jpeg" alt="img01"/><a href="https://www.youtube.com/watch?v=F7I_h_oFmco" target="_blank">
                            <figcaption>
                                <h2>Sign Sign Revolution</h2>
                                <p><b>15112 Term Project. Python game that uses Kinect to teach song-signing</b></p>
                            </figcaption></a>           
                        </figure>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="images/playlistsign.png" alt="img01"/><a href="https://www.youtube.com/playlist?list=PLp5ezllyEhoj75xNU9GUKlW35Y9j-tD1f" target="_blank">
                            <figcaption>
                                <h2>Song Signing Playlist</h2>
                                <p><b>See videos of me song-signing!/b></p>
                            </figcaption></a>       
                        </figure>                        
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="images/item-4.jpg" alt="img01"/><a href="http://www.themhm.org" target="_blank">
                            <figcaption>
                                <h2>themhm.org</h2>
                                <p><b>Founded a youth organization committed to positive mental health</b></p>
                            </figcaption></a>		
                        </figure>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="images/item-5.jpg" alt="img01"/><a href="https://youtu.be/7w9PO5bw_Qc" target="_blank">
                            <figcaption>
                                <h2>Eduxchange</h2>
                                <p><b>After Effects project for McKinsey YLA program</b></p>
                            </figcaption></a>		
                        </figure>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                    	<figure class="effect-bubba">
                            <img src="images/item-1.jpg" alt="img01"/><a href="https://www.facebook.com/befrank.my/photos/pb.332587386844379.-2207520000.1430721061./381364551966662/?type=3&src=https%3A%2F%2Fscontent-kul.xx.fbcdn.net%2Fhphotos-xap1%2Ft31.0-8%2F1277502_381364551966662_1741650686_o.jpg&smallsrc=https%3A%2F%2Fscontent-kul.xx.fbcdn.net%2Fhphotos-xtf1%2Fv%2Ft1.0-9%2F1381279_381364551966662_1741650686_n.jpg%3Foh%3Dafce4facc867fb7d1eee0ebb6256e3c3%26oe%3D55E60166&size=1398%2C2048&fbid=381364551966662" target="_blank">
                            <figcaption>
                                <h2>Be Frank</h2>
                                <p><b>Champion award for youth project by Cancer Research Initiatives Foundation.</b></p>
                            </figcaption></a>		
                        </figure>
                    </div>
                </div>
	
            </div>


		</div><!-- .contaier -->

	</section>

	<!-- Portfolio end -->
    
    <!-- Skills start -->
    
    <section class="pfblock pfblock-gray" id="skills">
		
		<div class="container">
		
			<div class="row skills">
				
				<div class="row">

                    <div class="col-sm-6 col-sm-offset-3">

                        <div class="pfblock-header wow fadeInUp">
                            <h2 class="pfblock-title">My Skills</h2>
                            <div class="pfblock-line"></div>
                            <div class="pfblock-subtitle">
                                I'm looking to further improve the skills below. If you have a great idea or a job opportunity to share, I'm interested!
                            </div>
                        </div>

                    </div>

                </div><!-- .row -->
				
				<div class="col-sm-6 col-md-3 text-center">
					<span data-percent="100" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                        <div class="iconbox-icon">
							<span class="icon-screen-desktop animated infinite tada "></span>
						</div>
                    </span>
					<h3 class="text-center">Programming</h3>
				</div>
				<div class="col-sm-6 col-md-3 text-center">
					<span data-percent="100" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                        <div class="iconbox-icon">
							<span class="icon-diamond animated infinite tada"></span>
						</div>
                    </span>
					<h3 class="text-center">Design</h3>
				</div>
				<div class="col-sm-6 col-md-3 text-center">
					<span data-percent="100" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                        <div class="iconbox-icon">
							<span class="icon-users animated infinite tada"></span>
						</div>
                    </span>
					<h3 class="text-center">Teamwork</h3>
				</div>
				<div class="col-sm-6 col-md-3 text-center">
					<span data-percent="100" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px; color: ">
                        <div class="iconbox-icon">
							<span class="icon-film animated infinite tada"></span>
						</div>
                    </span>
					<h3 class="text-center">Video Editing</h3>
				</div>

			</div>
		</div>			
			
    </section>

    <!-- Skills end -->

    			 
	<!-- CallToAction start -->

	<section class="calltoaction">
		<div class="container">

			<div class="row">

				<div class="col-md-12 col-lg-12">
					<h2 class="wow slideInRight" data-wow-delay=".1s">Looking to hire a junior developer/intern?</h2>
					<div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
						Contact me through e-mail.
					</div>
				</div>

				<div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
					<a href="#contact" class="btn btn-lg">Hire Me</a>
				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- CallToAction end -->

	<!-- Testimonials start -->

	<section id="testimonials" class="pfblock ">

		<div class="container">
            
            <div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">What others say</h2>
						<div class="pfblock-line"></div>
<!-- 						<div class="pfblock-subtitle"></div>
 -->				</div>

				</div>

			</div><!-- .row -->

            <div class="row">

			<div id="cbp-qtrotator" class="cbp-qtrotator">
                <div class="cbp-qtcontent">
                    <img src="images/client-1.jpg" alt="client-1" />
                    <blockquote>
                      <p>She is reticent yet expressive; struck down yet undaunted; at the end of the day, an overcomer!</p>
                      <footer>Kingsley Row, Teacher</footer>
                    </blockquote>
                </div>
                <div class="cbp-qtcontent">
                    <img src="images/client-2.jpg" alt="client-2" />
                    <blockquote>
                      <p>I'm so delighted to have found such talents. I'm most pleased with Kimberly's design and effort for the MMHA essay competition.</p>
                      <footer>Datin Dr Ang Kim Teng</footer>
                    </blockquote>
                </div>

            </div>		

            </div><!-- .row -->

					
		</div><!-- .row -->
	</section>

	<!-- Testimonial end -->

	<!-- Contact start -->

    <section id="contact" class="pfblock pfblock-gray">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <div class="pfblock-header">
                        <h2 class="pfblock-title">Drop me a line</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.
                        </div>
                    </div>

                </div>

            </div><!-- .row -->

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <form id="contact-form" action="/" method="post">
                        <div class="ajax-hidden">
                            <div class="form-group wow fadeInUp">
                                <input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
                            </div>

                            <div class="form-group wow fadeInUp" data-wow-delay=".1s">
                                <input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
                            </div>

                            <div class="form-group wow fadeInUp" data-wow-delay=".2s">
                                <textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Message"></textarea>
                            </div>

                            <button type="submit" class="btn btn-lg btn-block wow fadeInUp" data-wow-delay=".3s">Send Message</button>
                        </div>
                        <div class="ajax-response"></div>
                    </form>

                </div>

            </div><!-- .row -->
        </div><!-- .container -->
    </section>

	<!-- Contact end -->

	<section class="pfblock">
	 	<div class="container">

			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">Feeling Bored?</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">Click to play some music!</div><br>
							<div id="keys">
								<div id="a" class="box"></div>
						        <div id="b" class="box"></div>
								<div id="c" class="box"></div>
								<div id="d" class="box"></div>
								<div id="e" class="box"></div>
								<div id="f" class="box"></div>
								<div id="g" class="box"></div>
							</div>	
			
  			<audio id="aAudio">
			  <source src="http://7drives.in/ns/piano_notes/piano-a.wav" type="audio/wav">
			</audio>
			<audio id="bAudio">
			  <source src="http://7drives.in/ns/piano_notes/piano-b.wav" type="audio/wav">
			</audio>
			<audio id="cAudio">
			  <source src="http://7drives.in/ns/piano_notes/piano-c.wav" type="audio/wav">
			</audio>
			<audio id="dAudio">
			  <source src="http://7drives.in/ns/piano_notes/piano-d.wav" type="audio/wav">
			</audio>
			<audio id="eAudio">
			  <source src="http://7drives.in/ns/piano_notes/piano-e.wav" type="audio/wav">
			</audio>
			<audio id="fAudio">
			  <source src="http://7drives.in/ns/piano_notes/piano-f.wav" type="audio/wav">
			</audio>
			<audio id="gAudio">
			  <source src="http://7drives.in/ns/piano_notes/piano-g.wav" type="audio/wav">
			</audio>
					</div>
				</div>
			</div>

		</div>
	</section>

	<!-- Footer start -->

	<footer id="footer">

		<div class="container">
			<div class="row">

				<div class="col-sm-12">

					<ul class="social-links">
						<li><a href="https://www.facebook.com/kimberlylim95" target="_blank" class="wow fadeInUp"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://my.linkedin.com/in/kimberlyljx" target="_blank" class="wow fadeInUp" data-wow-delay=".1s"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="mailto:kimberlyljx@gmail.com" target="_blank" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-envelope"></i></a></li>
					</ul>

					<p class="heart">
                        Made with <span class="fa fa-heart fa-2x animated pulse"></span> in Kuala Lumpur
                    </p>
                    <p class="copyright">
                        © 2016 Kimberly Lim Jinxia<br>
                        Deemed human since November 3rd, 1995
					</p>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</footer>

	<!-- Footer end -->

	<!-- Scroll to top -->

	<div class="scroll-up">
		<a href="#home"><i class="fa fa-angle-up"></i></a>
	</div>
    
    <!-- Scroll to top end-->

	<!-- Javascript files -->

	<script src="javascripts/jquery-1.11.1.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/jquery.parallax-1.1.3.js"></script>
	<script src="javascripts/imagesloaded.pkgd.js"></script>
	<script src="javascripts/jquery.sticky.js"></script>
	<script src="javascripts/smoothscroll.js"></script>
	<script src="javascripts/wow.min.js"></script>
    <script src="javascripts/jquery.easypiechart.js"></script>
    <script src="javascripts/waypoints.min.js"></script>
    <script src="javascripts/jquery.cbpQTRotator.js"></script>
	<script src="javascripts/custom.js"></script>

	<div class="modal fade" id="myModalDev" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Programming Experience</h4>
	      </div>
	      <div class="modal-body">
	        <b>MasterCard's Masters of Code Hackathon Singapore</b><br>
			Placed 3rd. Built a web application using Ruby on Rails and the Mastercard API. The idea was Rebound.Me, an end-to-end solution for breakups.
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="myModalEng" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Engineering Experience</h4>
	      </div>
	      <div class="modal-body">
	   		<b>Part-time Intern at Zectra Computers Sdn. Bhd</b><br>Assemble and deploy PCs, servers, security and Scala equipment at Zectra Computers during school's semester break. Began during break of 2010, ended during break of 2014.<br><br>
            <b>Technology Enhanced Facilities Operator at Carnegie Mellon University Computing Services (Fall 2015 - Present)</b><br>Responsible for staffing the clusters and providing the campus community with a knowledgeable source of information on the hardware and software contained in the TEF spaces
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="myModalSoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Past Experiences</h4>
	      </div>
	      <div class="modal-body">
	      	<b>Assistant Secretary for International Tools for Change Conference by Initiatives of Change (April 2013)</b>
				<li>Helped organize an international 3 day conference in Selangor, Malaysia which focused on global perspectives, innovative responses to challenges and opportunities, and acquiring skills and tools that inject dynamism into organizations.</li><br>
			<b>Tutor/IT Technician at Malaysian Mental Health Association</b>
			<li>Teach clients at the Malaysian Mental Health Association on how to use computers and productivity tools (Microsoft Office). Maintain the website www.mmha.org.my and design pamphlets and brochures for the organization.</li><br>
	        <b>Be Frank Youth Champion Award 2013 by Cancer Research Initiative Foundation Malaysia</b>
				<li>Received award for contribution in raising awareness about oral cancer. Designed posters, made After Effects videos, conducted surveys and was Assistant Head Organizer of the Cancer Awareness Carnival in Sunway College</li><br>

			<b>EduXChange (July 2014 – October 2014)</b>
				<li>Co-founded EduxChange, a national student exchange program between high and low performance schools in Malaysia after receiving guidance from McKinsey consultants</li>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="myModalEdu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Achievements</h4>
	      </div>
	      <div class="modal-body">
	        <b>Wesley Methodist School Kuala Lumpur (2011-2012)</b><br>
	        	<li>Malaysian Certificate of Education 9A+, 1A-, 1B+ and GCE - 1119 (A)</li>
	        	<li>Martial Arts Club (President), WMSKL Engineering Team (Captain), Leo Club</li>
	        	<li>High Distinction and Top Scorer in National Chemistry Quiz 2012</li><br>

			<b>Malaysia National Service (Jan 2013 - Mar 2013) at Kem Seri Perkasa Mantin</b>
                <li>Implemented changes to facilities and classroom modules after winning the mock-election at the camp.</li><br>

	        <b>Kolej Universiti Sunway (2013-2014)</b>
				<li>Cambridge GCE A-Level, A*A*A*A (Physics, Chemistry, Mathematics, Further Mathematics)</li>
				<li>Sunway A-Level Student Council (Head Media/Advertising), Sunway Debate Club (Secretary), Sunway Muay Thai Club (Assistant Instructor)</li>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

</body>
</html>